h1{
    font-family: cursive;
    background-color: black;
    color:aliceblue;
    margin: 0;
    
}
span{
    color:rgb(0,255,255);
}
h2{
    text-align: center;
    background-color: rebeccapurple;
    color: azure;
    font-style: italic;
    margin: 2px;
}
h3{
    text-align: right;
    color: indigo ;
    background-color: lightskyblue;
    text-decoration: underline;
    margin: 2px;
}